
body {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4 {
    font-family: 'Roboto Slab', serif;
}
h1,h2,h3,h4,ul { 
    margin: 5px 0;
}
h1 {
    font-size: 1.5em;
    font-weight: 900;
    color: #333343;
    text-align: center;
  }
h2 {
    font-size: 1.3em;
    font-weight: 900;
    color: #1919c0;
}
h3 {
    font-size: 1.1em;
    font-weight: 700;
    color: #497cd9;
}
.Section .Section h3 {
    font-size: 1.0em;
    font-weight: 500;
    color: #497cd9;
}
.text-muted {
    color: darkgrey;
    font-size: .8em;
}
ul {
    list-style: none;
    padding-left: 0;
    color: #2b2938;
}
.Stacks {
    display: flex;
}
.Stack {
    flex: 1;
    padding: 0 .5rem;
    margin: .5rem;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 1px #c7c7c7;
}
.Section {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.Section li h3 > button {
    color: inherit;
}

.Section li button {
    text-decoration: none;
    color: #242424;
    display: block;
    padding: 1px 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
    background: transparent;
    box-shadow: none;
    font-family: unset;
    font-size: unset;
}

.Section li button:hover {
    border: 1px solid green;
}